$w-sm: 640px;
$w-md: 768px;
$w-lg: 1024px;
$w-xl: 1280px;

.title-label {
  @apply text-xl font-bold leading-5 md:text-2xl md:leading-6;
}

.form-container {
  @apply flex min-w-[500px] flex-col items-center justify-center gap-4 bg-white p-8;
  border-radius: 12px;

  @media (width <= $w-sm) {
    @apply h-screen w-screen min-w-full border-r-0;
  }
}

.input {
  @apply h-14 w-full rounded-lg border border-slate-300 p-3 outline-none;
}

.destructive-input {
  @apply border-destructive/50 text-destructive placeholder-destructive outline-none dark:border-destructive [&>svg]:text-destructive;
  border-width: 3px;
}

.supporting-text {
  @apply text-sm;
}
